@import "null.scss";

// подключать только если есть в этих файлах данные. пустыми не подключать !!
// @import "var.scss";
@import "basestyle.scss";

@function toRem($value) {
	$baseFontSize: 16;
	@return ($value/$baseFontSize) * 1rem;
}

$maxWidth: 1920;

@mixin adaptiveValue($property, $pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$addMobSize: $addSize + $addSize * 0.7;

	@media (min-width: toRem(1920)) {
		#{$property}: #{$pcSize + px};
	}

	@media (max-width: toRem(1920)) {
		@media (max-width: 1920px) {
			#{$property}: calc(#{$mobSize + px} + #{$addMobSize} * ((100vw - 767px) / #{$maxWidth}));
		}
	}
}
// @include adaptiveValue ($property , $pcSize, $mobSize);

[class*="__container"] {
	max-width: 1680px;
	padding: 0 20px;
	margin: 0 auto;
}

// \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

body,
html {
	scroll-behavior: smooth;
}

body {
	position: relative;
	background-image: url(../fone/fo1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
}

.up {
	position: fixed;
	width: toRem(50);
	bottom: toRem(50);
	right: toRem(40);
	& img {
		width: 100%;
	}
}

.header {
	&__body {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: toRem(70);
		display: flex;
		align-items: center;
		backdrop-filter: blur(16px); /* Размытие фона */
		z-index: 10000;
		// border: 1px solid white;
	}
	&__container {
		width: 100%;
		// border: 1px solid white;
	}
	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
		& p {
			display: flex;
			align-items: center;
			color: black;
			font-size: toRem(26);
			font-weight: 900;
			text-shadow:
				0px 0px 2px white,
				2px 2px 6px white,
				-2px -2px 6px white;
			&:hover {
				transform: scale(1.1);
			}
		}
		& img {
			width: toRem(40);
		}
	}
}
.header__nav--activity {
	text-decoration: underline;
}
// ---------------------------------------------------------------------------------------------------

.main {
	&__container {
		width: 100%;
		padding: toRem(100) toRem(10);
		text-align: center;
		display: flex;
		flex-direction: column;
		row-gap: toRem(30);
		// border: 1px solid black;
	}
	&__title {
		& h1 {
			font-size: toRem(70);
			color: white;
			font-weight: 900;
			text-shadow:
				0px 0px 1px black,
				2px 2px 2px #f29494,
				4px 4px 1px black;
		}
	}
	&__text {
		padding: toRem(50) 0;
		background-color: #8c4f65;
		& p {
			font-size: toRem(30);
			color: white;
			line-height: 1.2;
			letter-spacing: 2px;
		}
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		row-gap: toRem(20);
	}
	&__card {
		position: relative;
		@include adaptiveValue("width", 400, 300);
		padding: toRem(10);
		display: flex;
		flex-direction: column;
		row-gap: toRem(10);
		// border: 1px solid black;
		backdrop-filter: blure(150);
		border-radius: toRem(5);
		background-color: rgba(255, 255, 255, 0.749);
		box-shadow: 0px 0px 16px #8c4f65;

		// &:hover {
		// 	.card__content {
		// 		display: flex;
		// 		flex-direction: column;
		// 		align-items: center;
		// 		justify-content: center;
		// 	}
		// }
	}
	&__card--img {
		position: relative; /* Для правильного позиционирования контента при наведении */
		width: 100%;
		cursor: pointer;
		&:hover {
			.card__content {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
		}
		& img {
			width: 100%;
		}
	}
	&__card--name {
		& p {
			font-size: toRem(22);
			color: #731536;
			font-weight: 900;
			letter-spacing: 2px;
		}
	}
	&__card--prize {
		margin: toRem(10) 0;
		& span {
			font-size: toRem(20);
		}
	}
	&__card--button {
		& button {
			background-color: #51b687;
			padding: toRem(10);
			font-size: toRem(20);
			color: white;
			border-radius: toRem(10);
			cursor: pointer;
			transition: 0.2s ease-in-out;
			&:hover {
				transform: scale(1.1);
				box-shadow: 0px 0px 6px #51b687;
			}
		}
	}
}
.card__content {
	visibility: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@include adaptiveValue("width", 370, 300);
	border-radius: toRem(10);
	background-color: #ffcc8d;
	padding: toRem(6);
	z-index: 10;
	/* Плавное появление */
	opacity: 0;
	transition:
		opacity 0.3s ease,
		visibility 0.3s ease;
	& p {
		font-size: toRem(24);
		letter-spacing: 2px;
		font-weight: 900;
	}
}

/* Показываем контент при наведении на изображение */
.main__card:hover .card__content {
	visibility: visible; /* Ставим видимость на видимое */
	opacity: 1; /* Делаем его видимым */
	z-index: 1000; /* Повышаем z-index */
}
